body { 	
	margin: 0;
	padding:0;
}
a{
	color: inherit;
	text-decoration: none;
}
/*HEADER*/
.header{
	display: flex;
	flex-flow: row nowrap;
	position: sticky;
	top:0px;
	background: $gradiente;
	z-index: 2;
}
/*Logo header*/
.header__logo{
	width:8%;
	height:8%;
}
/*Lista del header*/
.divListaHeader{
	align-self: flex-end;	
}

.header__lista{
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	
	li{
		border-top: solid 2px;
		border-bottom: solid 2px;
		border-color: white;

			&:hover{
  				background-color: $hoverColor;
  			}

  		a{
		 	color: white;
		 	font-size: 1.7rem;
		 	font-family: $fontPrincipal;
		 	text-align: center;
		 	padding: 1rem;
		 	text-decoration: none;
		}
	}
}

/*INDEX*/
.intro{
	display: flex;
	flex-flow: row nowrap;
	margin: 8px 20px 20px 20px;
}
.intro__texto{
	font-family: $fontPrincipal;
	font-size: 1.6rem;
	width: 50%;
	margin-right: 5px;
}
.arteIndex{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin: 20px;
}
.intro__nombre{
	font-size: 3em;
	font-family: $fontPrincipal;
  	margin-top: 2px;
  	margin-bottom: 5px;
  	display: inline;/*para que siempre tenga fondo negro*/
	color: $rosado;
  	background: black;
  	font-weight: normal;
		&:hover {
		color: black;
  		background: $rosado;
  		}
}
.spanLandscape{
	width: 50%;
	align-self: center;
}
.intro__landscape{
	max-width: 100%;
}
/*--------------*/
/*IMAGENES TIPO DE ARTE*/

.arteIndex__img{
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.5s;
		&:hover{
			transform: scale(1.3,1.3);
		}
	h2{
		color: $rosado;
		font-family: $fontPrincipal;
	}
	img{
		width:20vw;
		height: 20vw;
		border: 3px solid black;
	}
}

/*--------------------------------*/

/*ARTE*/
.gridArte {
   display: grid;  
   grid-template-columns: repeat(4, $medidaGridArte); 
   grid-template-rows: repeat(3, $medidaGridArte);	
   grid-template-areas: 
    "imgChica imgGrande imgGrande imgAlta"
    "none imgGrande imgGrande imgAlta"
    "imgLarga imgLarga imgLarga imgChica2";
    grid-gap: $gridGapArte;
    justify-content: center;
    margin-top: 10px;
}

@mixin imgArte($width, $height,$gridArea){
	grid-area: $gridArea;
	position: relative;
	img{
		width: $width;
		height: $height;
	}
	//Para que aparezca la info
	&:hover div{
		visibility: visible;
  		opacity: 1;
	}
}
.imgChica{
	@include imgArte($medidaGridArte, $medidaGridArte, imgChica);
}
.imgChica2{
	@include imgArte($medidaGridArte, $medidaGridArte, imgChica2);
}
.imgGrande{
	@include imgArte($medidaGridArte*2, $medidaGridArte*2, imgGrande);
}
.imgLarga{
	@include imgArte($gridGapArte + $medidaGridArte*3 , $medidaGridArte, imgLarga);
}
.imgAlta{
	@include imgArte($medidaGridArte, $gridGapArte + $medidaGridArte*2, imgAlta);
}

/*HOVER PARA GRILLA*/
@mixin hoverImgArte($width, $height){
	position: absolute;
	top:0;
	left:0;
	width: $width;
	height: $height;
  background: $hoverColorArte;
  color: $rosado;
  font-family: $fontPrincipal;
	font-size: 1.8em;  	
 	text-align: center;
	vertical-align: middle; 
	overflow-wrap: break-word;
 	visibility: hidden;
 	opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.hoverImgArteChica{
	@include hoverImgArte($medidaGridArte, $medidaGridArte);
}
.hoverImgArteGrande{
	@include hoverImgArte($medidaGridArte*2, $medidaGridArte*2);
}
.hoverImgArteLarga{
	@include hoverImgArte($gridGapArte + $medidaGridArte*3 , $medidaGridArte)
}
.hoverImgArteAlta{
	@include hoverImgArte($medidaGridArte, $gridGapArte + $medidaGridArte*2)
}

/*-----------------------------------*/
/*CV*/
.listaCV{
	float: left;
	font-family: $fontPrincipal;
	font-size: 2rem;
	a{//Para los links
  			&:hover{
  				text-decoration: underline;
  			}
  		} 
	.listaCV__titulos::marker {
  		content: "▼";
  		color: $rosado;
  	}
}
//BUllets apra los años
.years::marker {
  	content: "▼";
	color: $violeta;	
}
//Bullets para links
.links li::marker {
  	content: "►";
  	animation: pulse 1s infinite alternate;
}
//Animación de color de bullets
@keyframes pulse {
  0% {
    color: rgba(253,29,109,1);
  }
  100%{
  	color: rgba(252,176,69,1);
  }
}

.spanHabilidades{
	float: right;
	font-family: $fontPrincipal;
	border: 3px solid black;
	margin-right: 10%;
	margin-bottom: 50px;
	font-size: 1.8rem;
	background: $gradiente;
	top: 23%;
	position: sticky;
}

/*Grilla */
.grillaHabilidades {
	display: grid;
	margin: 40px 0 40px 0;
	grid-template-columns: repeat(2,300px);
	grid-template-rows: repeat(3,100px);
	text-align: center;
	grid-template-areas:
	"habilidad1Texto habilidad1Slider"
	"habilidad2Texto habilidad2Slider"
	"habilidad3Texto habilidad3Slider";
}
//Clase para cada elemento de la grilla
@for $i from 1 through 3 {
    .habilidad#{$i}Texto { 
  	    grid-area: habilidad#{$i}Texto; 
  	}
	.habilidad#{$i}Slider { 
		grid-area: habilidad#{$i}Slider; 
	}
}

/*SLIDERS Y BARRAS*/
.slider{
	border-bottom: 5px solid black;
	width: 250px;
	position: relative;
	top: 28px;
	z-index: 1;
}

@mixin handler($slide,$largo){
	width: 20px;
	height: 20px;
	background: black;
	position: relative;
	top: 12.5px;
	z-index: 2;
	animation: $slide 3s ;
	left:$largo;
	border-radius: 10px;
}

$largos: 250px, 120px, 200px; //Largos de los sliders 
/*ANIMACIONES DE HABILIDADES*/
@mixin animacionSlide($largo){
	0% {
		left: 0;
  	}
  	100%{
    	left: $largo;
  	}
}

//For each para crear las clases handler y los keyframes
@each $largo in $largos {
	$i: index($largos, $largo);//Para tener el numero de index

	.handler#{$i} {
    	@include handler(slide#{$i}, $largo);
	}

	@keyframes slide#{$i} {
		@include animacionSlide($largo)
	}
}
/*------------------------*/
 
/*CONTACTO*/
.titulo{
	color: $rosado;
	font-size: 2rem;
	font-family: $fontPrincipal;
}

.titulo--center{
	text-align: center;
}
.subtitulo{
	display: inline;
	color: $rosado;
	font-size: 1.5rem;
	font-weight: normal;
	font-family: $fontPrincipal;
	margin-top:0;
	a{
		background-color: black;
	}
}
.contactoFlex{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding-bottom: 40px;
	margin-left: 1rem;
}
/*Fondo pagina contacto*/
.fondoContacto{
	background-image: url("../media/fondoForm.png");
	background-size: 100vw;
}
/*FORMULARIO DE NEWSLETTER*/
.contactoForm{
	*{
		color: black;
		font-size: 1em;
		font-family: $fontPrincipal;
	}
	background: $gradiente;
	display: inline-block;
	width: 25vw;
	padding: 1%;
	margin-top:0.8%;
	margin-left:0.4%;
	color: white;
	label{
		font-size: 2em;
		size: 80%;
	}
	select{
		width: 9em;
		height: 2em;
	}
	textarea{
		width:80%;
		height:90px;
		resize:none;
	}
	.textInput{
		width:80%;
		height:35px;
	}
	*{
		border-width: 0;
		border-radius: .5rem;
	}
}
.botonesForm{
	font-family: $fontPrincipal;
	font-weight: bold;
	margin-top: 5%;
	margin-right: 5%;
	padding: 3%;
}
.fontGoogle{
	font-family: $fontPrincipal;
	font-size: 1.5rem;
}
/*----------------------------*/
////SERVICIOS/////
.servicio__texto{
	font-family: "Source Code Pro",monospace;
  font-size: 1.6rem;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.gridServicios {
   display: grid;  
   grid-template-columns: repeat(3, $medidaGridServicios); 
   grid-template-rows: repeat(2, $medidaGridServicios);	
   grid-template-areas: 
    "servicios1 servicios2 servicios3"
    "servicios4 servicios5 none";
    grid-gap: $gridGapServicios/2 $gridGapServicios ;
    justify-content: center;
    margin-top: 10px;
}

@mixin imgServicios($gridArea){
	grid-area: $gridArea;
	position: relative;
	img{
		width: $medidaGridServicios;
		height: $medidaGridServicios;
	}
	//Para que aparezca la info
	&:hover div{
		background: $hoverColorServicios;
	}
	p{
		color: white;
	}
}
.servicios1{
	@include imgServicios(servicios1);
}
.servicios2{
	@include imgServicios(servicios2);
}
.servicios3{
	@include imgServicios(servicios3);
}
.servicios4{
	@include imgServicios(servicios4);
}
.servicios5{
	@include imgServicios(servicios5);
}

/*HOVER PARA GRILLA*/
.textoImgServicios{
	position: absolute;
	top:0;
	left:0;
	width: $medidaGridServicios;
	height: $medidaGridServicios;
  //background: $hoverColorArte;
  color: $rosado;
  font-family: $fontPrincipal;
	font-size: 1rem;  	
  text-align: center;
	vertical-align: middle; 
	overflow-wrap: break-word;
	transition: background-color .4s;
}

/*-----------------------------------*/

/*FOOTER*/
.footer{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	height: 100%;
	margin-top: 50px;
	margin-bottom: 0px;
	background: $gradiente;
	clear: left;/*para el CV*/
}
.footer__img {
	width:4vh;
	margin:3px 5% 2px 5%;
}
/*PARA CUANDO LA PAGINA NO SOBREPASA EL VH*/
.page-container {
  position: relative;
  min-height: 100vh;
}

//MEDIA QUERIES/////////////////////////

//MEDIA QUERY PARA CELULARES VERTICALES
@media (max-width: 768px) and (orientation: portrait) {
	.header{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	.header__logo{
		width:30%;
		height:30%;
	}
	.header__lista{
		display: flex;
		flex-flow: column wrap;
		padding: 0px;
		li{
			border: 0px;
			a{
				font-size: 1.3rem;
				padding: 0.2rem;
			}
		}

	}
	.intro{
		display: flex;
		flex-flow: column wrap;
		margin: 8px 20px 20px 20px;
	}
	.intro__texto{
		font-size: 1.1em;
		width: 90%;
		margin-right: 5px;
		align-self: center;
	}
	.spanLandscape{
		width: 80%;
	}
	.arteIndex{
		display: flex;
		flex-flow: column wrap;
	}
	.arteIndex__img{
		&:hover{
			transform: none;
		}
		img{
			width:35vw;
			height:35vw;
		}
		video{
			width:35vw;
			height:35vw;
		}
	}

	/*ARTE*/
	.titulo {
		font-size: 1.3rem;
	}
	.subtitulo{
		font-size: 1rem;
	}
	.gridArte {
	   display: grid;  
	   grid-template-columns: repeat(3, $medidaGridArteCelular); 
	   grid-template-rows: repeat(4, $medidaGridArteCelular);	
	   grid-template-areas: 
	    "imgChica imgGrande imgGrande" 
	    "imgAlta imgGrande imgGrande" 
	    "imgAlta imgChica2 none"
	    "imgLarga imgLarga imgLarga";
	    grid-gap: $gridGapArte;
	    justify-content: center;
	    margin-top: 10px;
	}
	.imgChica{
		@include imgArte($medidaGridArteCelular, $medidaGridArteCelular, imgChica);
	}
	.imgChica2{
		@include imgArte($medidaGridArteCelular, $medidaGridArteCelular, imgChica2);
	}
	.imgGrande{
		@include imgArte($medidaGridArteCelular*2, $medidaGridArteCelular*2, imgGrande);
	}
	.imgLarga{
		@include imgArte($gridGapArte + $medidaGridArteCelular*3 , $medidaGridArteCelular, imgLarga);
	}
	.imgAlta{
		@include imgArte($medidaGridArteCelular, $gridGapArte + $medidaGridArteCelular*2, imgAlta);
	}

	/*HOVER PARA GRILLA*/
	@mixin hoverImgArte($width, $height){
		width: $width;
		height: $height;
		font-size: 0.7em;  	
	}
	.hoverImgArteChica{
		@include hoverImgArte($medidaGridArteCelular, $medidaGridArteCelular);
	}
	.hoverImgArteGrande{
		@include hoverImgArte($medidaGridArteCelular*2, $medidaGridArteCelular*2);
	}
	.hoverImgArteLarga{
		@include hoverImgArte($gridGapArte + $medidaGridArteCelular*3 , $medidaGridArteCelular)
	}
	.hoverImgArteAlta{
		@include hoverImgArte($medidaGridArteCelular, $gridGapArte + $medidaGridArteCelular*2)
	}

	//CV
	.listaCV{
		font-size: 1rem;
	}
	.spanHabilidades{
		display: inline-block;
		float: left;
		margin-left: 5%;
		margin-bottom: 0px;
		font-size: 1rem;
		position: static;
	}

	//Grilla 
	.grillaHabilidades {
		grid-template-columns: repeat(2,150px);
		grid-template-rows: repeat(3,50px);
	}

	//SLIDERS Y BARRAS
	.slider{
		border-bottom: 3px solid black;
		width: 125px;
		top: 16px;
		z-index: 1;
	}

	@mixin handler($slide,$largo){
		width: 10px;
		height: 10px;
		background: black;
		position: relative;
		top: 7px;
		z-index: 2;
		animation: $slide 3s ;
		left:$largo;
		border-radius: 5px;
	}

	$largos: 120px, 60px, 100px; //Largos de los sliders 
	//ANIMACIONES DE HABILIDADES
	@mixin animacionSlide($largo){
		0% {
			left: 0;
	  	}
	  	100%{
	    	left: $largo;
	  	}
	}

	//For each para crear las clases handler y los keyframes
	@each $largo in $largos {
		$i: index($largos, $largo);//Para tener el numero de index

		.handler#{$i} {
	    	@include handler(slide#{$i}, $largo);
		}

		@keyframes slide#{$i} {
			@include animacionSlide($largo)
		}
	}
/*----------------------------*/
	////SERVICIOS/////
	.servicio__texto{
	  font-size: 1rem;;
	}
	.gridServicios {
	   display: grid;  
	   grid-template-columns: repeat(2, $medidaGridServiciosCelular); 
	   grid-template-rows: repeat(3, $medidaGridServiciosCelular);	
	   grid-template-areas: 
	    "servicios1 servicios2 "
	    "servicios3 servicios4" 
	    "servicios5 none";
	    grid-gap: $gridGapServicios/2 $gridGapServicios ;
	    justify-content: center;
	    margin-top: 10px;
	}

	@mixin imgServicios($gridArea){
		img{
			width: $medidaGridServiciosCelular;
			height: $medidaGridServiciosCelular;
		}
	}
	.servicios1{
		@include imgServicios(servicios1);
	}
	.servicios2{
		@include imgServicios(servicios2);
	}
	.servicios3{
		@include imgServicios(servicios3);
	}
	.servicios4{
		@include imgServicios(servicios4);
	}
	.servicios5{
		@include imgServicios(servicios5);
	}

	/*HOVER PARA GRILLA*/
	.textoImgServicios{
		width: $medidaGridServiciosCelular;
		height: $medidaGridServiciosCelular;
		font-size: 0.4em; 
	}

	//CONTACTO
	.subtitulo{
		margin-right:0;
		margin-left:0;
	}
	.contactoForm{
		margin-left:0;
		width: 90vw;
		align-items: center;
  	justify-content: space-around;
  	label{
		size: 95%;
		}
		select{
			width: 9em;
		}
		textarea{
			width:95%;
			resize:none;
		}
		.textInput{
			width:95%;
		}
	}

	.fontGoogle{
		font-size: 1rem;
		display: inline-block;
	}

	.page-container{
		min-height:70vh;
	}
}

//CELUALRES PEQUEÑOS HORIZONTALES
@media (max-width: 768px) and (orientation: landscape) {
	.header{
		flex-flow: row wrap;
		align-items: center;
	}
	//INDEX
	.intro{
		flex-flow: column wrap;
		margin: 8px 20px 20px 20px;
	}
	.intro__texto{
		font-size: 1.1em;
		width: 90%;
		margin-right: 5px;
		align-self: center;
	}
	.spanLandscape{
		width: 80%;
	}
	.hoverImgArteChica{
		font-size:0.7em;
	}
	.hoverImgArteGrande{
		font-size:0.7em;
	}
	.hoverImgArteLarga{
		font-size:0.7em;
	}
	.hoverImgArteAlta{
		font-size:0.7em;
	}
	//CV
	.listaCV{
		font-size: 1rem;
	}	

	.spanHabilidades{
		display: inline-block;
		float: left;
		margin-left: 5%;
		margin-bottom: 0px;
		font-size: 1rem;
		position: static;
	}

	//Grilla 
	.grillaHabilidades {
		grid-template-columns: repeat(2,150px);
		grid-template-rows: repeat(3,50px);
	}

	//SLIDERS Y BARRAS
	.slider{
		border-bottom: 3px solid black;
		width: 125px;
		top: 16px;
		z-index: 1;
	}

	@mixin handler($slide,$largo){
		width: 10px;
		height: 10px;
		top: 7px;
		animation: $slide 3s ;
		left:$largo;
		border-radius: 5px;
	}

	$largos: 120px, 60px, 100px; //Largos de los sliders 
	//ANIMACIONES DE HABILIDADES
	@mixin animacionSlide($largo){
		0% {
			left: 0;
	  	}
	  	100%{
	    	left: $largo;
	  	}
	}

	//For each para crear las clases handler y los keyframes
	@each $largo in $largos {
		$i: index($largos, $largo);//Para tener el numero de index

		.handler#{$i} {
	    	@include handler(slide#{$i}, $largo);
		}

		@keyframes slide#{$i} {
			@include animacionSlide($largo);
		}
	}
	//CONTACTO
	.contactoForm{
		width: 40vw;
	}
	//FOOTER
	.page-container{
		min-height:90vw;
	}
	.footer{
		margin-top: 0px;
	}
	.footer__img {
		width:4vw;
	}

	//SERVICIOS
	.textoImgServicios{
		font-size: 0.6em; 
	}
}

//TABLETS T IPADS 
@media (min-width: 768px) and (max-width:1028px) {
	.gridArte {
	   display: grid;  
	   grid-template-columns: repeat(3, $medidaGridArteCelular); 
	   grid-template-rows: repeat(4, $medidaGridArteCelular);	
	   grid-template-areas: 
	    "imgChica imgGrande imgGrande" 
	    "imgAlta imgGrande imgGrande" 
	    "imgAlta imgChica2 none"
	    "imgLarga imgLarga imgLarga";
	    grid-gap: $gridGapArte;
	    justify-content: center;
	    margin-top: 10px;
	}
	.imgChica{
		@include imgArte($medidaGridArteCelular, $medidaGridArteCelular, imgChica);
	}
	.imgChica2{
		@include imgArte($medidaGridArteCelular, $medidaGridArteCelular, imgChica2);
	}
	.imgGrande{
		@include imgArte($medidaGridArteCelular*2, $medidaGridArteCelular*2, imgGrande);
	}
	.imgLarga{
		@include imgArte($gridGapArte + $medidaGridArteCelular*3 , $medidaGridArteCelular, imgLarga);
	}
	.imgAlta{
		@include imgArte($medidaGridArteCelular, $gridGapArte + $medidaGridArteCelular*2, imgAlta);
	}

	/*HOVER PARA GRILLA*/
	@mixin hoverImgArte($width, $height){
		width: $width;
		height: $height;
		font-size: 1.8em;  	
	}
	.hoverImgArteChica{
		@include hoverImgArte($medidaGridArteCelular, $medidaGridArteCelular);
	}
	.hoverImgArteGrande{
		@include hoverImgArte($medidaGridArteCelular*2, $medidaGridArteCelular*2);
	}
	.hoverImgArteLarga{
		@include hoverImgArte($gridGapArte + $medidaGridArteCelular*3 , $medidaGridArteCelular)
	}
	.hoverImgArteAlta{
		@include hoverImgArte($medidaGridArteCelular, $gridGapArte + $medidaGridArteCelular*2)
	}	
/////////////////////
	.spanHabilidades{
		display: inline-block;
		float: left;
		margin-left: 5%;
		margin-bottom: 0px;
		font-size: 1rem;
		position: static;
	}

	//Grilla 
	.grillaHabilidades {
		grid-template-columns: repeat(2,150px);
		grid-template-rows: repeat(3,50px);
	}

	//SLIDERS Y BARRAS
	.slider{
		border-bottom: 3px solid black;
		width: 125px;
		top: 16px;
	}

	@mixin handler($slide,$largo){
		width: 10px;
		height: 10px;
		top: 7px;
		animation: $slide 3s ;
		left:$largo;
		border-radius: 5px;
	}

	$largos: 120px, 60px, 100px; //Largos de los sliders 
	//ANIMACIONES DE HABILIDADES
	@mixin animacionSlide($largo){
		0% {
			left: 0;
	  	}
	  	100%{
	    	left: $largo;
	  	}
	}

	//For each para crear las clases handler y los keyframes
	@each $largo in $largos {
		$i: index($largos, $largo);//Para tener el numero de index

		.handler#{$i} {
	    	@include handler(slide#{$i}, $largo);
		}

		@keyframes slide#{$i} {
			@include animacionSlide($largo);
		}
	}

	//For each para crear las clases handler y los keyframes
	@each $largo in $largos {
		$i: index($largos, $largo);//Para tener el numero de index

		.handler#{$i} {
	    	@include handler(slide#{$i}, $largo);
		}

		@keyframes slide#{$i} {
			@include animacionSlide($largo)
		}
	}
		//CONTACTO
	.contactoForm{
		width: 60vw;
  	label{
		size: 95%;
		}
		select{
			width: 9em;
		}
		textarea{
			width:95%;
			resize:none;
		}
		.textInput{
			width:95%;
		}
	}

	.footer__img {
		width:4vw;
	}
}

//Para las habilidades en la pagina CV con tablets horizontales
@media (min-width: 1028px) and (max-width: 1850px) {
	.listaCV{
		display: block;
		float: none;
	}
	.spanHabilidades{
		display: inline-block;
		float: right;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 0px;
		font-size: 1.5rem;
		position: static;
	}
}
