body { 	
	margin: 0;
	padding:0;
}

/*HEADER*/
.header{
	display: flex;
	flex-flow: row nowrap;
	position: sticky;
	top:0px;
	background: $gradiente;
	z-index: 2;
}
/*Logo header*/
.header__logo{
	width:8%;
	height:8%;
}
/*Lista del header*/
.divListaHeader{
	align-self: flex-end;	
}

.header__lista{
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	
	li{
		border-top: solid 2px;
		border-bottom: solid 2px;
		border-color: white;

			&:hover{
  				background-color: $hoverColor;
  			}

  		a{
		 	color: white;
		 	font-size: 1.7rem;
		 	font-family: $fontPrincipal;
		 	text-align: center;
		 	padding: 1rem;
		 	text-decoration: none;
		}
	}
}

/*INDEX*/
.intro{
	display: flex;
	flex-flow: row nowrap;
	margin: 8px 20px 20px 20px;
}
.intro__texto{
	font-family: $fontPrincipal;
	font-size: 1.6rem;
	width: 50%;
	margin-right: 5px;
}
.arteIndex{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin: 20px;
}
.intro__nombre{
	font-size: 3em;
	font-family: $fontPrincipal;
  	margin-top: 2px;
  	margin-bottom: 5px;
  	display: inline;/*para que siempre tenga fondo negro*/
	color: white;
  	background: black;
  	font-weight: normal;
		&:hover {
		color: black;
  		background: white;
  		}
}
/*img landscape*/
.spanLandscape{
	width: 50%;
	align-self: center;
}
.intro__landscape{
	max-width: 100%;
}
/*--------------*/
/*IMAGENES TIPO DE ARTE*/

.arteIndex__img{
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.5s;
		&:hover{
			transform: scale(1.3,1.3);
		}
	h2{
		color: $rosado;
		font-family: $fontPrincipal;
	}
	img{
		width:20vw;
		height: 20vw;
		border: 3px solid black;
	}
	video{
		width:20vw;
		height: 20vw;
		border: 3px solid black;	
	}
}

/*--------------------------------*/

/*ARTE*/
.gridArte {
   display: grid;  
   grid-template-columns: repeat(4, $medidaGridArte); 
   grid-template-rows: repeat(3, $medidaGridArte);	
   grid-template-areas: 
    "imgChica imgGrande imgGrande imgAlta"
    "none imgGrande imgGrande imgAlta"
    "imgLarga imgLarga imgLarga imgChica2";
    grid-gap: $gridGapArte;
    justify-content: center;
    margin-top: 10px;
}

@mixin imgArte($width, $height,$gridArea){
	grid-area: $gridArea;
	position: relative;
	img{
		width: $width;
		height: $height;
	}
	//Para que aparezca la info
	&:hover div{
		visibility: visible;
  		opacity: 1;
	}
}
.imgChica{
	@include imgArte($medidaGridArte, $medidaGridArte, imgChica);
}
.imgChica2{
	@include imgArte($medidaGridArte, $medidaGridArte, imgChica2);
}
.imgGrande{
	@include imgArte($medidaGridArte*2, $medidaGridArte*2, imgGrande);
}
.imgLarga{
	@include imgArte($gridGapArte + $medidaGridArte*3 , $medidaGridArte, imgLarga);
}
.imgAlta{
	@include imgArte($medidaGridArte, $gridGapArte + $medidaGridArte*2, imgAlta);
}

/*HOVER PARA GRILLA*/
@mixin hoverImgArte($width, $height){
	position: absolute;
	top:0;
	left:0;
	width: $width;
	height: $height;
  	background: $hoverColorArte;
  	color: $rosado;
  	font-family: $fontPrincipal;
  	font-size: 1.2em;
  	text-align: center;
	vertical-align: middle; 
	overflow-wrap: break-word;
  	visibility: hidden;
  	opacity: 0;
  	transition: opacity .2s, visibility .2s;
}
.hoverImgArteChica{
	@include hoverImgArte($medidaGridArte, $medidaGridArte);
}
.hoverImgArteGrande{
	@include hoverImgArte($medidaGridArte*2, $medidaGridArte*2);
}
.hoverImgArteLarga{
	@include hoverImgArte($gridGapArte + $medidaGridArte*3 , $medidaGridArte)
}
.hoverImgArteAlta{
	@include hoverImgArte($medidaGridArte, $gridGapArte + $medidaGridArte*2)
}

/*-----------------------------------*/
/*CV*/
.listaCV{
	float: left;
	font-family: $fontPrincipal;
	font-size: 2rem;
}
.spanHabilidades{
	float: right;
	font-family: $fontPrincipal;
	border: 3px solid black;
	margin-right: 10%;
	font-size: 1.8rem;
	background: $gradiente;
	top: 23%;
	position: sticky;
}

/*Grilla */
.grillaHabilidades {
	display: grid;
	margin: 40px 0 40px 0;
	grid-template-columns: repeat(2,300px);
	grid-template-rows: repeat(3,100px);
	text-align: center;
	grid-template-areas:
	"habilidad1Texto habilidad1Slider"
	"habilidad2Texto habilidad2Slider"
	"habilidad3Texto habilidad3Slider";
}
@for $i from 1 through 3 {
    .habilidad#{$i}Texto { 
  	    grid-area: habilidad#{$i}Texto; 
  	}
	.habilidad#{$i}Slider { 
		grid-area: habilidad#{$i}Slider; 
	}
}

/*SLIDERS Y BARRAS*/
.slider{
	border-bottom: 5px solid black;
	width: 250px;
	position: relative;
	top: 28px;
	z-index: 1;
}

@mixin handler($slide,$largo){
	width: 20px;
	height: 20px;
	background: black;
	position: relative;
	top: 12.5px;
	z-index: 2;
	animation: $slide 3s ;
	left:$largo;
	border-radius: 10px;
}

$largos: 250px, 120px, 200px; //Largos de los sliders 
/*ANIMACIONES DE HABILIDADES*/
@mixin animacionSlide($largo){
	0% {
		left: 0;
  	}
  	100%{
    	left: $largo;
  	}
}

//For each para crear las clases handler y los keyframes
@each $largo in $largos {
	$i: index($largos, $largo);//Para tener el numero de index

	.handler#{$i} {
    	@include handler(slide#{$i}, $largo);
	}

	@keyframes slide#{$i} {
		@include animacionSlide($largo)
	}
}
/*------------------------*/
 
/*CONTACTO*/
.titulo{
	color: $rosado;
	font-size: 2rem;
	font-family: $fontPrincipal;
}
.titulo--margin{
	margin-left:0.4%;
}
.titulo--center{
	text-align: center;
}
.subtitulo{
	color: $rosado;
	font-size: 1.5rem;
	font-weight: normal;
	font-family: $fontPrincipal;
	margin-left:0.4%;
}
.contactoFlex{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding-bottom: 40px;
}
/*Fondo pagina contacto*/
.fondoContacto{
	background-image: url("../media/fondoForm.png");
	background-size: 100vw;
	//z-index: 0;
}
/*FORMULARIO DE NEWSLETTER*/
.contactoForm{
	background: $gradiente;
	display: inline-block;
	width: 15%;
	padding: 1%;
	margin-top:0.8%;
	margin-left:0.4%;
	color: white;
}
label{
	font-size: 170%;
	font-family: $fontPrincipal;
}
textarea{
	width:80%;
	height:90px;
	resize:none
}
.botonesForm{
	font-family: $fontPrincipal;
	font-weight: bold;
	margin-top: 5%;
	margin-right: 5%;
	padding: 3%
}
.fontGoogle{
	font-family: $fontPrincipal;
}
/*----------------------------*/

/*FOOTER*/
.footer{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	height: 100%;
	margin-top: 50px;
	margin-bottom: 0px;
	background: $gradiente;
	clear: left;/*para el CV*/
}
.footer__img {
	width:4vh;
	margin:3px 5% 2px 5%;
}
/*PARA CUANDO LA PAGINA NO SOBREPASA EL VH*/
.page-container {
  position: relative;
  min-height: 100vh;
  z-index: -1;
}

.footer--absoluto {
  position: absolute;
  bottom: -4vh;
  width: 100%;
  height: 4vh;
}

/*MEDIA QUERY PARA CELULARES VERTICALES*/
@media (max-width: 768px) {
	.header{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	.header__logo{
		width:30%;
		height:30%;
	}
	.header__lista{
		display: flex;
		flex-flow: column wrap;
		padding: 0px;
		li{
			border: 0px;
			a{
				font-size: 1.3rem;
				padding: 0.2rem;
			}
		}

	}
	.intro{
		display: flex;
		flex-flow: column wrap;
		margin: 8px 20px 20px 20px;
	}
	.intro__texto{
		font-family: $fontPrincipal;
		font-size: 1.1em;
		width: 90%;
		margin-right: 5px;
		align-self: center;
	}
	.spanLandscape{
		width: 80%
	};
	.arteIndex{
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
	}
	.arteIndex__img{
		&:hover{
			transform: none;
		}
	}
	/*falta optmizar*/
	.hoverImgArteChica{
		font-size: 0.4em;
	}
	.hoverImgArteGrande{
		font-size: 0.4em;
	}
	.hoverImgArteLarga{
		font-size: 0.4em;
	}
	.hoverImgArteAlta{
		font-size: 0.4em;
	}


}