/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;700&display=swap');

$fontPrincipal: 'Source Code Pro', monospace;

//Colores
$gradiente: linear-gradient(302deg, rgba(203,73,207,1) 0%, 
		rgba(253,29,109,1) 67%, rgba(252,176,69,1) 100%);

$rosado: rgba(253,29,109,1);

$hoverColor: rgba(176, 176, 176,0.3);
$hoverColorArte: rgba(230, 230, 230, 0.9);

//TAMAÑOS
$tamañoImgIndex: 350px;

//ARTE

$medidaGridArte: 20vw;
$gridGapArte: 0.5vw;
