/*Importar fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;700&display=swap');

/*sacar margins y paddings por defecto*/
body { 	
	margin: 0;
	padding:0;
	background: #ebebeb;
}
/*HEADER*/
header{
	display: flex;
	flex-flow: row nowrap;
	position: sticky;
	top:0px;
	background: linear-gradient(302deg, rgba(203,73,207,1) 0%, 
		rgba(253,29,109,1) 67%, rgba(252,176,69,1) 100%);
	z-index: 2;
}
/*Logo header*/
.logo{
	width:8%;
	height:8%;
}
/*Lista del header*/
.divListaHeader{
	align-self: flex-end;	
}

.listaHeader{
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
}

.listaHeader li {
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: white;
}

.listaHeader li:hover {
  background-color: rgba(176, 176, 176,30%);
}

.listaHeader li a {
  color: white;
  font-size: 1.7rem;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}
/*------------------------*/
/*FLEX-BOX*/
/*PARA CELULARES VERTICALES*/
@media only screen and (min-width: 320px) {

	
	.headerFlex1{
		display: flex;
		flex-flow: column wrap;
		margin: 8px 20px 20px 20px;
	}

	.headerFlex2{
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
	}
	.spanTexto{
		font-family: 'Source Code Pro', monospace;
		font-size: 1.6rem;
		width: 80%;
		margin-right: 5px;
		align-self: center;
	}
}
/*PARA LO DEMAS*/
@media only screen and (min-width: 768px) {
	.headerFlex1{
		display: flex;
		flex-flow: row nowrap;
		margin: 8px 20px 20px 20px;
	}

	.headerFlex2{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		margin: 20px;
	}
	.spanTexto{
		font-family: 'Source Code Pro', monospace;
		font-size: 1.6rem;
		width: 50%;
		margin-right: 5px;
	}
}

/*Clase para texto index*/
.nombre{
	font-size: 4rem;
	font-family: 'Source Code Pro', monospace;
  	margin-top: 2px;
  	margin-bottom: 5px;
  	display: inline;/*para que siempre tenga fondo negro*/
	color: white;
  	background: black;
  	font-weight: normal;
}
.nombre:hover{
	color: black;
  	background: #ebebeb;
}
/*Img landscape*/
.spanLandscape{
	width: 50%;
	align-self: center;
}
.landscape{
	max-width: 100%;
}
/*--------------*/
/*IMAGENES TIPO DE ARTE*/
.spanImagen{
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.5s;
}
.spanImagen:hover{
	transform: scale(1.3,1.3) ;
}

h2{
	color: rgba(253,29,109,1);
	font-family: 'Source Code Pro', monospace;
}
.arteImg{
	width:350px;
	height: 350px;
	border: 3px solid black;
}

.videoIndex{
	width:350px;
	height: 350px;
	border: 3px solid black;
}
/*--------------------------------*/
/*ARTE*/
.gridArte {
   display: grid;  
   grid-template-columns: 350px 350px 350px 350px; 
   grid-template-rows: 350px 350px 350px;	
   grid-template-areas: 
    "imgChica imgGrande imgGrande imgAlta"
    "none imgGrande imgGrande imgAlta"
    "imgLarga imgLarga imgLarga imgChica2";
    grid-gap: 10px;
    justify-content: center;
    margin-top: 10px;
}
.imgChica{
	grid-area: imgChica;
	position: relative;
}
.imgChica img{
	width:350px;
	height: 350px;
}
.imgChica2{
	grid-area: imgChica2;
	position: relative;
}
.imgChica2 img{
	width:350px;
	height: 350px;
}
.imgGrande{
	grid-area: imgGrande;
	position: relative;
}
.imgGrande img{
	width:700px;
	height: 700px;
}
.imgLarga{
	grid-area: imgLarga;
	position: relative;
}
.imgLarga img{
	width: 1060px;
	height: 350px;
}
.imgAlta{
	grid-area: imgAlta;
	position: relative;
}
.imgAlta img{
	height: 705px;
	width: 350px;
}

/*HOVER PARA GRILLA*/
.hoverImgArteChica{
	position: absolute;
	top:0;
	left:0;
	width: 350px;
	height: 350px;
  	background: rgba(230, 230, 230, 0.9);
  	color: rgba(253,29,109,1);
  	font-family: 'Source Code Pro', monospace;
  	font-size: 1.2rem;
  	text-align: center;
	vertical-align: middle; 
	overflow-wrap: break-word;
  	visibility: hidden;
  	opacity: 0;
  	transition: opacity .2s, visibility .2s;
}
.hoverImgArteGrande{
	position: absolute;
	top:0;
	left:0;
	width: 700px;
	height: 700px;
  	background: rgba(230, 230, 230, 0.9);
  	color: rgba(253,29,109,1);
  	font-family: 'Source Code Pro', monospace;
  	font-size: 1.6rem;
  	text-align: center;
	vertical-align: middle; 
	overflow-wrap: break-word;
  	visibility: hidden;
  	opacity: 0;
  	transition: opacity .2s, visibility .2s;
}
.hoverImgArteLarga{
	position: absolute;
	top:0;
	left:0;
	width: 1060px;
	height: 350px;
  	background: rgba(230, 230, 230, 0.9);
  	color: rgba(253,29,109,1);
  	font-family: 'Source Code Pro', monospace;
  	font-size: 1.6rem;
  	text-align: center;
	vertical-align: middle; 
	overflow-wrap: break-word;
  	visibility: hidden;
  	opacity: 0;
  	transition: opacity .2s, visibility .2s;
}
.hoverImgArteAlta{
	position: absolute;
	top:0;
	left:0;
	width: 350px;
	height: 705px;
  	background: rgba(230, 230, 230, 0.9);
  	color: rgba(253,29,109,1);
  	font-family: 'Source Code Pro', monospace;
  	font-size: 1.2rem;
  	text-align: center;
	vertical-align: middle; 
	overflow-wrap: break-word;
  	visibility: hidden;
  	opacity: 0;
  	transition: opacity .2s, visibility .2s;
}
.imgChica:hover .hoverImgArteChica {
  visibility: visible;
  opacity: 1;
}
.imgChica2:hover .hoverImgArteChica {
  visibility: visible;
  opacity: 1;
}
.imgGrande:hover .hoverImgArteGrande {
  visibility: visible;
  opacity: 1;
}
.imgLarga:hover .hoverImgArteLarga {
  visibility: visible;
  opacity: 1;
}
.imgAlta:hover .hoverImgArteAlta {
  visibility: visible;
  opacity: 1;
}
/*-----------------------------------*/

/*CV*/
.listaCV{
	float: left;
	font-family: 'Source Code Pro', monospace;
	font-size: 2rem;
}
.spanHabilidades{
	float: right;
	font-family: 'Source Code Pro', monospace;
	border: 3px solid black;
	margin-right: 10%;
	font-size: 1.8rem;
	background: linear-gradient(302deg, rgba(203,73,207,1) 0%, 
		rgba(253,29,109,1) 67%, rgba(252,176,69,1) 100%);
	top: 23%;
	position: sticky;
}

/*Grilla */
.grillaHabilidades {
	display: grid;
	margin: 40px 0 40px 0;
	grid-template-columns: repeat(2,300px);
	grid-template-rows: repeat(3,100px);
	text-align: center;
	grid-template-areas:
	"habilidadUnoTexto habilidadUnoSlider"
	"habilidadDosTexto habilidadDosSlider"
	"habilidadTresTexto habilidadTresSlider";
}
.habilidadUnoTexto {
	grid-area: habilidadUnoTexto;
}
.habilidadUnoSlider {
	grid-area: habilidadUnoSlider;
}
.habilidadDosTexto {
	grid-area: habilidadDosTexto;
}
.habilidadDosSlider {
	grid-area: habilidadDosSlider;
}
.habilidadTresTexto {
	grid-area: habilidadTresTexto;
}
.habilidadTresSlider {
	grid-area: habilidadTresSlider;
}

/*SLIDERS Y BARRAS*/
.slider{
  border-bottom: 5px solid black;
  width: 250px;
  position: relative;
  top: 28px;
  z-index: 1;
}

.handler {
  width: 20px;
  height: 20px;
  background: black;
  position: relative;
  top: 12.5px;
  z-index: 2;
  animation: slide 3s ;
  left:250px;
  border-radius: 10px;
}

.handler2 {
  width: 20px;
  height: 20px;
  background: black;
  position: relative;
  top: 12.5px;
  z-index: 2;
  animation: slide2 3s ;
  left:120px;
  border-radius: 10px;
}

.handler3 {
  width: 20px;
  height: 20px;
  background: black;
  position: relative;
  top: 12.5px;
  z-index: 2;
  animation: slide3 3s ;
  left:200px;
  border-radius: 10px;
}

/*ANIMACIONES DE HABILIDADES*/
@keyframes slide {
  0% {
    left: 0;
  }
  100%{
    left: 250px;
  }
}

@keyframes slide2 {
  0% {
    left: 0;
  }
  100%{
    left: 120px;
  }
}

@keyframes slide3 {
  0% {
    left: 0;
  }
  100%{
    left: 200px;
  }
}
/*-----------------*/
/*CONTACTO*/
.contactoFlex{
	display: flex;
	flex direction: column;
	min-height: 100%;
	padding-bottom: 40px;
}
/*Fondo pagina contacto*/
.fondoContacto{
	background-image: url("../media/fondoForm.png");
	background-size: 1920px;
	z-index: 0;
}
/*FORMULARIO DE NEWSLETTER*/
.contactoForm{
	background: linear-gradient(302deg, rgba(203,73,207,1) 0%, 
		rgba(253,29,109,1) 67%, rgba(252,176,69,1) 100%);
	display: inline-block;
	width: 15%;
	padding: 1%;
	margin-top:0.8%;
	margin-left:0.4%;
	color: white;
}
label{
	font-size: 170%;
	font-family: 'Source Code Pro', monospace;
}
textarea{
	width:80%;
	height:90px;
	resize:none
}
.botonesForm{
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
	margin-top: 5%;
	margin-right: 5%;
	padding: 3%
}
.fontGoogle{
	font-family: 'Source Code Pro', monospace;
}
/*----------------------------*/
/*FOOTER*/
footer{
	height: 100%;
	margin-top: 50px;
	background: rgb(203,73,207);
	background: linear-gradient(302deg, rgba(203,73,207,1) 0%, 
		rgba(253,29,109,1) 67%, rgba(252,176,69,1) 100%);
}
.footerFlex{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.imgFooter{
	width:30px;
	margin:3px 5% 2px 5%;
}
/*PARA CUANDO LA PAGINA NO SOBREPASA EL VH*/
.page-container {
  position: relative;
  min-height: 100vh;
  z-index: -1;
}

.footer {
  position: absolute;
  bottom: -45px;
  width: 100%;
  height: 45px;
}
